
#shape-div {
    
    width: 1000px;
    height: 400px;
    background-color: lightyellow;
    margin: 0 auto;
    z-index: 1;
    border: 1px solid black;
    
}

#shape {

    width: 100px;
    height: 100px;
    background-color: red;
    display: none;
    position: relative;
    z-index: 5;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
    text-decoration: none;
}

blink {
    animation: blinker 1.5s linear infinite;
}
@keyframes blinker {  
    50% { opacity: 0; }
}